:root {
  --primary-color: #f50057;
  --toastify-text-color-light: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.ace-editor {
  overflow-x: hidden !important;
}

@media print {
  .resume-preview {
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    width: 100% !important;
  }
}
